* {
    margin: 0;
    padding: 0;
}

.master-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 1px solid #1e0e1e;
}

.div-child {
    width: calc(100% / var(--size));
    height: calc(100% / var(--size));
    border: 1px solid #1e0e1e;
    box-sizing: border-box;
}

.painted {
    background-color: #1e0e1e;
}
